body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-image: url(../images/background.png);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 0;
    font-size: 20px;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.course-info,
.workshop-info {
    width: 60%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-info h3 {
    color: red;
}

.workshop-info h3 {
    color: red;
}

.course-info img,
.workshop-info img {
    width: 100%;
    margin-top: 20px;
}

aside {
    width: 35%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: red;
}

aside h3 {
    margin-top: 0;
}

aside nav ul li {
    text-decoration: none;
}

aside p {
    color: black;
}

footer {
    background: gray;
    color: #fff;
    text-align: left;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}